<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  
  <p>
    Splurty was built by <a target="_blank" href="https://github.com/wilbobraggins/kanga">Will</a>.  An aspiring Programmer looking to show off what he has learned so far through the creation of a user generated web application.
  </p>
  <br />
  <p>
    Will joined up with The Firehose Project to make his dream of becoming a web deveopler into a reality.
  </p>  
  <p> 
   If you want to learn how to code, look no <a target="_blank" href="http://www.thefirehoseproject.com/"> further</a>.
  </p>


  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'willo.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">William Marchek</h2>
      <br />
      <p>
        William lives and works out of his self built <a target="_blank" href="https://www.instagram.com/tinyhousetruck/?hl=en"> tiny-house</a> with his life parnter and hound dog Xena.
      </p>
    </div>
  </div>
  <br class="clear" /> 
  <br />
  <br />
  <br />
  <br />   
        

 </div>  