@import "bootstrap";

.hero {
  background-image: image_url('code.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
}


